<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>

    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.tiny.cloud/1/xrp48clx8zjyfkbezc5lyv5qzj7gzfchwm8g5hj3f3tmsmze/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>
<%- include('./navigation.ejs')  %> 
<div class="contentArea">
<div class="container-fluid">
  <%-include('./alert.ejs')  %> 