<%- include('../../partials/header.ejs') %>
    
    <div class="row">
        <div class="col-md-3">
            <%- include('../../partials/sidebar.ejs') %> 
        </div>
        <div class="col-md-9">
            <h2 class="text-center">Welcome to your dashboard</h2>
        </div>
<%- include('../../partials/footer.ejs') %>
</body>
</html>