<%- include('../partials/header.ejs') %>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card card-body">
                    <h4 class="text-center">Create a new Account</h4>
                    <form method="POST" action="/play/validator">
                        <div class="form-group">
                          <label for="username">Enter a username</label>
                          <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group">
                          <label for="email">Email address</label>
                          <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="form-group">
                          <label for="confrimPassword">Confirm Password</label>
                          <input type="password" class="form-control" id="confrimPassword" name="confrimPassword">
                        </div>                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                      <a href="/auth/login" class="mt-2 text-center">Have an account ? Login here</a>
                </div>
            </div>
        </div>
    </div>
<%- include('../partials/footer.ejs') %>
</body>
</html>